{% extends 'base.html.twig' %}
{% block title %}Réservez votre table
{% endblock %}

{% block body %}

    <div class="container">
        {% block form_row %}
            <div class="form-check">
                {{ form_label(formAllergy) }}
                {{ form_widget(formAllergy) }}
            </div>
        {% endblock %}

    </div>
{% endblock %}
