.container-carrousel {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    margin: 0;
    padding: 0;


    .carrousel-items {
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center;

        .carrousel-item {
            flex: 1 0 100%;
            position: relative;

            img {
                width: 100%;
            }
            .carrossel-item-title {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
                background-color: rgba(255, 255, 255, 0.4);
                padding: 10px;
                display: none;
            }
            &:hover .carrossel-item-title {
                display: block;
            }
        }
    }

}
#nav-left,
#nav-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    padding: 10px;
    z-index: 2;
    font-size: 2rem;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.4);
}
#nav-right {
    right: 0;
}

@media(min-width: 992px) {
    .container-carrousel {
        width: 50%;
        align-self: center;        
    }
}
