{% extends 'base.html.twig' %}

{% block title %}Réservez votre table
{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="mt-4">Réserver votre table</h1>

        {{ form_start(formReservation) }}
        {{ form_row(formReservation.Date) }}
        {{ form_row(formReservation.time_slot) }}
        {{ form_end(formReservation) }}

    {% endblock %}

    {% block javascript %}
        <script>
            let date = document.querySelector("#reservation_Date");

            date.addEventListener("change", function () {
                this.setAttribure('value', this.value);
            });
        </script>
    {% endblock %}
