{% extends "base.html.twig" %}

{% block title %}Quai Antique{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Bienvenue sur Quai Antique!</h1>
            <p class="lead">Venez gouter à notre savoie-faire.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            <p>Je suis un paragraphe</p>
        </div>
    </div>
    
{% endblock %}

