h1 {
    font-family: 'Exo2-Black';
    font-size: 2.5rem;
}
h2 {
    font-family: 'Exo2-Regular';
    font-size: 2rem;
}
h3 {
    font-family: 'Exo2-Bold';
    font-size: 1.5rem;
}

body {
    font-family: 'Arvo-Regular';
}
strong {
    font-family: 'Arvo-Bold';
}
a {
    font-family: 'Arvo-Bold';
    text-decoration: none;
}